<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Staff members</h1>
    <% for(let mem of staffmem){ %>
        <p><%= mem.name%></p>
    <% }%>
</body>
</html>